/* Estilo personalizado para la barra de navegación */
.navbar-custom {
    background-color: #343a40; /* Color de fondo oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    border-bottom: 1px solid #dee2e6; /* Borde inferior */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff; /* Color de texto blanco */
}
.navbar-custom .nav-link:hover {
    color: #f8f9fa; /* Color de texto blanco claro en hover */
}
.navbar-custom .navbar-toggler-icon {
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/img/bootstrap-icons.svg'); /* Icono de toggler personalizado si es necesario */
}

.navbar-custom .navbar-brand img {
    height: 40px; /* Ajusta la altura del logo */
}
.navbar-custom .navbar-toggler {
    border: none; /* Elimina el borde del toggler */
}
.navbar-custom .navbar-toggler-icon {
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/img/bootstrap-icons.svg'); /* Icono de toggler personalizado si es necesario */
}

.custom-img {
    width: 300px; /* Cambia el tamaño de la imagen según lo necesites */
    height: 300px; /* Cambia la altura de la imagen según lo necesites */
}